<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="layout/layout :: Navbar"></nav>
		<aside th:replace="layout/layout :: Main-Sidebar-Container"></aside>
		<div class="content-wrapper">
			<div th:replace="layout/layout :: Content-Header"></div>
			<section class="content">
				<div class="container-fluid">
				  Hola Mundo
				</div>
			</section>
		</div>
		<aside class="control-sidebar control-sidebar-dark"></aside>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
